{{/* Shortcode parameters */}}
{{ $repo := .Get "repo" }}
{{ $file := .Get "file" }}
{{ $lang := .Get "lang" | default "text" }}
{{ $options := .Get "options" | default "" }}

{{/* Build raw GitHub URL (public repo) */}}
{{ $url := printf "https://raw.githubusercontent.com/%s/main/%s" $repo $file }}

{{/* Fetch the file content */}}
{{ $resource := resources.GetRemote $url }}
{{ if not $resource }}
  {{ errorf "github shortcode: failed to fetch %s" $url }}
{{ end }}

{{/* Get ASCII content as string */}}
{{ $con := $resource.Content }}

{{/* Highlight the code */}}
{{ highlight $con $lang $options }}
